boto3
sh==1.12.14
aws-cdk.alexa-ask=={{CDK_VERSION}}
aws-cdk.app-delivery=={{CDK_VERSION}}
aws-cdk.assets=={{CDK_VERSION}}
aws-cdk.aws-amazonmq=={{CDK_VERSION}}
aws-cdk.aws-amplify=={{CDK_VERSION}}
aws-cdk.aws-apigateway=={{CDK_VERSION}}
aws-cdk.aws-applicationautoscaling=={{CDK_VERSION}}
aws-cdk.aws-appmesh=={{CDK_VERSION}}
aws-cdk.aws-appstream=={{CDK_VERSION}}
aws-cdk.aws-appsync=={{CDK_VERSION}}
aws-cdk.aws-athena=={{CDK_VERSION}}
aws-cdk.aws-autoscaling=={{CDK_VERSION}}
aws-cdk.aws-autoscaling-common=={{CDK_VERSION}}
aws-cdk.aws-autoscaling-hooktargets=={{CDK_VERSION}}
aws-cdk.aws-autoscalingplans=={{CDK_VERSION}}
aws-cdk.aws-backup=={{CDK_VERSION}}
aws-cdk.aws-batch=={{CDK_VERSION}}
aws-cdk.aws-budgets=={{CDK_VERSION}}
aws-cdk.aws-certificatemanager=={{CDK_VERSION}}
aws-cdk.aws-cloud9=={{CDK_VERSION}}
aws-cdk.aws-cloudformation=={{CDK_VERSION}}
aws-cdk.aws-cloudfront=={{CDK_VERSION}}
aws-cdk.aws-cloudtrail=={{CDK_VERSION}}
aws-cdk.aws-cloudwatch=={{CDK_VERSION}}
aws-cdk.aws-cloudwatch-actions=={{CDK_VERSION}}
aws-cdk.aws-codebuild=={{CDK_VERSION}}
aws-cdk.aws-codecommit=={{CDK_VERSION}}
aws-cdk.aws-codedeploy=={{CDK_VERSION}}
aws-cdk.aws-codepipeline=={{CDK_VERSION}}
aws-cdk.aws-codepipeline-actions=={{CDK_VERSION}}
aws-cdk.aws-codestar=={{CDK_VERSION}}
aws-cdk.aws-cognito=={{CDK_VERSION}}
aws-cdk.aws-config=={{CDK_VERSION}}
aws-cdk.aws-datapipeline=={{CDK_VERSION}}
aws-cdk.aws-dax=={{CDK_VERSION}}
aws-cdk.aws-directoryservice=={{CDK_VERSION}}
aws-cdk.aws-dlm=={{CDK_VERSION}}
aws-cdk.aws-dms=={{CDK_VERSION}}
aws-cdk.aws-docdb=={{CDK_VERSION}}
aws-cdk.aws-dynamodb=={{CDK_VERSION}}
aws-cdk.aws-dynamodb-global=={{CDK_VERSION}}
aws-cdk.aws-ec2=={{CDK_VERSION}}
aws-cdk.aws-ecr=={{CDK_VERSION}}
aws-cdk.aws-ecr-assets=={{CDK_VERSION}}
aws-cdk.aws-ecs=={{CDK_VERSION}}
aws-cdk.aws-ecs-patterns=={{CDK_VERSION}}
aws-cdk.aws-efs=={{CDK_VERSION}}
aws-cdk.aws-eks=={{CDK_VERSION}}
aws-cdk.aws-elasticache=={{CDK_VERSION}}
aws-cdk.aws-elasticbeanstalk=={{CDK_VERSION}}
aws-cdk.aws-elasticloadbalancing=={{CDK_VERSION}}
aws-cdk.aws-elasticloadbalancingv2=={{CDK_VERSION}}
aws-cdk.aws-elasticloadbalancingv2-targets=={{CDK_VERSION}}
aws-cdk.aws-elasticsearch=={{CDK_VERSION}}
aws-cdk.aws-emr=={{CDK_VERSION}}
aws-cdk.aws-events=={{CDK_VERSION}}
aws-cdk.aws-events-targets=={{CDK_VERSION}}
aws-cdk.aws-fsx=={{CDK_VERSION}}
aws-cdk.aws-gamelift=={{CDK_VERSION}}
aws-cdk.aws-glue=={{CDK_VERSION}}
aws-cdk.aws-greengrass=={{CDK_VERSION}}
aws-cdk.aws-guardduty=={{CDK_VERSION}}
aws-cdk.aws-iam=={{CDK_VERSION}}
aws-cdk.aws-inspector=={{CDK_VERSION}}
aws-cdk.aws-iot=={{CDK_VERSION}}
aws-cdk.aws-iot1click=={{CDK_VERSION}}
aws-cdk.aws-iotanalytics=={{CDK_VERSION}}
aws-cdk.aws-iotevents=={{CDK_VERSION}}
aws-cdk.aws-iotthingsgraph=={{CDK_VERSION}}
aws-cdk.aws-kinesis=={{CDK_VERSION}}
aws-cdk.aws-kinesisanalytics=={{CDK_VERSION}}
aws-cdk.aws-kinesisfirehose=={{CDK_VERSION}}
aws-cdk.aws-kms=={{CDK_VERSION}}
aws-cdk.aws-lakeformation=={{CDK_VERSION}}
aws-cdk.aws-lambda=={{CDK_VERSION}}
aws-cdk.aws-lambda-event-sources=={{CDK_VERSION}}
aws-cdk.aws-logs=={{CDK_VERSION}}
aws-cdk.aws-logs-destinations=={{CDK_VERSION}}
aws-cdk.aws-managedblockchain=={{CDK_VERSION}}
aws-cdk.aws-medialive=={{CDK_VERSION}}
aws-cdk.aws-mediastore=={{CDK_VERSION}}
aws-cdk.aws-msk=={{CDK_VERSION}}
aws-cdk.aws-neptune=={{CDK_VERSION}}
aws-cdk.aws-opsworks=={{CDK_VERSION}}
aws-cdk.aws-opsworkscm=={{CDK_VERSION}}
aws-cdk.aws-pinpoint=={{CDK_VERSION}}
aws-cdk.aws-pinpointemail=={{CDK_VERSION}}
aws-cdk.aws-ram=={{CDK_VERSION}}
aws-cdk.aws-rds=={{CDK_VERSION}}
aws-cdk.aws-redshift=={{CDK_VERSION}}
aws-cdk.aws-robomaker=={{CDK_VERSION}}
aws-cdk.aws-route53=={{CDK_VERSION}}
aws-cdk.aws-route53-targets=={{CDK_VERSION}}
aws-cdk.aws-route53resolver=={{CDK_VERSION}}
aws-cdk.aws-s3=={{CDK_VERSION}}
aws-cdk.aws-s3-assets=={{CDK_VERSION}}
aws-cdk.aws-s3-deployment=={{CDK_VERSION}}
aws-cdk.aws-s3-notifications=={{CDK_VERSION}}
aws-cdk.aws-sagemaker=={{CDK_VERSION}}
aws-cdk.aws-sam=={{CDK_VERSION}}
aws-cdk.aws-sdb=={{CDK_VERSION}}
aws-cdk.aws-secretsmanager=={{CDK_VERSION}}
aws-cdk.aws-securityhub=={{CDK_VERSION}}
aws-cdk.aws-servicecatalog=={{CDK_VERSION}}
aws-cdk.aws-servicediscovery=={{CDK_VERSION}}
aws-cdk.aws-ses=={{CDK_VERSION}}
aws-cdk.aws-sns=={{CDK_VERSION}}
aws-cdk.aws-sns-subscriptions=={{CDK_VERSION}}
aws-cdk.aws-sqs=={{CDK_VERSION}}
aws-cdk.aws-ssm=={{CDK_VERSION}}
aws-cdk.aws-stepfunctions=={{CDK_VERSION}}
aws-cdk.aws-stepfunctions-tasks=={{CDK_VERSION}}
aws-cdk.aws-transfer=={{CDK_VERSION}}
aws-cdk.aws-waf=={{CDK_VERSION}}
aws-cdk.aws-wafregional=={{CDK_VERSION}}
aws-cdk.aws-workspaces=={{CDK_VERSION}}
aws-cdk.core=={{CDK_VERSION}}
aws-cdk.custom-resources=={{CDK_VERSION}}
aws-cdk.cx-api=={{CDK_VERSION}}
aws-cdk.region-info=={{CDK_VERSION}}
